In [2]:
# Setup and dependencies
import pandas as pd

In [3]:
# Read in the data
cities = pd.read_csv("cities_data.csv")

In [4]:
# Display the dataframe
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,51.80,43,75,23.02,AR,1611604109
1,Yar-Sale,66.8333,70.8333,-20.42,87,100,15.05,RU,1611604110
2,Punta Arenas,-53.1500,-70.9167,51.80,46,75,24.16,CL,1611604110
3,Hithadhoo,-0.6000,73.0833,81.63,73,67,3.74,MV,1611604110
4,Binzhou,37.3667,118.0167,31.59,93,90,2.86,CN,1611604111

In [5]:
# Convert dataframe to html
cities.to_html("cities.html")